@model SearchApp.Web.Models.SearchIndexVM

<div class="top">
</div>
<div class="row">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-10">
        <form method="post" asp-controller="Search" asp-action="Index">
            <div asp-validation-summary="All"></div>
            <div>
                @Html.EditorFor(m => m.Words)
                @Html.ValidationMessageFor(model => model.Words, string.Empty, new { @class = "text-danger" })
                <input type="submit" value="Поиск" />
            </div>
            <div>
                @Html.DisplayNameFor(m => m.IsOfflineSearch)
                @Html.CheckBoxFor(m => m.IsOfflineSearch)
            </div>
        </form>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>

