a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top {
    margin-top: 15%;
}

@media (mint-width: 768px) {
    .top {
        margin-top: 15px;
    }
}

.search-input {
    width: 100%;
    margin-bottom: 10px;
}

.search-btn {
    width: 100%;
    margin-bottom: 20px;
}

.validation-summary-errors {
    margin-top: 20px;
    font-size: 20px;
}