a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top {
    margin-top: 15%;
}

@media (max-width: 768px) {
    .top {
        margin-top: 15px;
    }
}

.search-input {
    width: 100%;
    margin-bottom: 10px;
}

.search-btn {
    width: 100%;
    margin-bottom: 20px;
}

.validation-summary-errors {
    margin-top: 20px;
    font-size: 20px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

    th:first-child, td:first-child {
        text-align: left;
    }

.menu {
    position: fixed;
    bottom: 15px;
}
    .menu .links {
        display: inline-flex;
    }

    .menu div h5 {
        margin: 0px 5% 0px 5%;
        width: 100%;
        white-space: nowrap;
    }

@media (max-width: 768px) {
    .menu .links {
        display: block;
    }

    .menu div h5 {
        margin: 0px 2px 0px 2px;
        width: 100%;
        white-space: nowrap;
        font-size: 24px;
    }
}